<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.pzz.modules.mapper.SysUserRoleMapper">

    <select id="getRoleSetByUsername" resultType="java.lang.String">
        SELECT name FROM sys_role WHERE id IN (
            SELECT role_id FROM sys_user_role WHERE user_id =(
                SELECT id FROM sys_user WHERE username = #{username} ))
    </select>
</mapper>